* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

.App {
    display: flex;
    height: 100vh;
}

.Right {
    width: 60%;
}

.Left{
    width: 40%;
    background: #232323;
}